* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    font-size: x-large;
}

header {
    background-color: #00695c;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5rem;
}

a {
    color: red;
    text-decoration: none;
}

a:hover {
    color: aqua;
}

nav {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    color: #00695c;
    font-weight: bold;
    background-color: #e0f2f1;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: #00695c;
    color: white;
}

div {
    max-width: 900px;
    margin: auto;
}

div h1 {
    margin-bottom: 20px;
    color: #004d40;
    font-size: 2rem;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    margin-bottom: 15px;
    text-align: justify;
}

footer {
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
    font-size: 0.9rem;
    color: #666;
}

.poema-duplo {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.coluna {
    flex: 1;
    min-width: 300px;
}

img {
    margin-top: 25px    ;
}

h2 {
    margin-bottom: 20px;
    margin-top: 20px;
}

h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}